.heading-1 {
  font-size: 6rem;
  font-family: $font-primary-light;
  line-height: 1.2;
}

.heading-3 {
  font-family: $font-primary-light;
  font-size: 2rem;
}

.highlight {
  color: $color-contrast;
}

.mb-sm {
  margin-bottom: 1.5rem;
}

.mb-md {
  margin-bottom: 3rem;
}
