.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.logo__img {
  display: block;
  height: 5rem;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.7;
  }
}

.navbar {
  &__list {
    display: flex;
  }

  &__item {
    margin-left: 4.5rem;
  }

  &__link {
    color: $color-contrast;
    text-transform: uppercase;
    transition: color 0.2s;

    &--active {
      color: currentColor;
    }

    &:hover {
      color: currentColor;
    }
  }
}
