.hero {
  margin-bottom: 3rem;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    position: absolute;
    width: 60rem;
    text-align: center;
    margin-left: 15rem;
  }
  &__img {
    display: block;
    max-width: $page-width-max;
  }

  &__btn {
    background-color: transparent;
    color: $color-white;
    border: 0.1rem solid $color-white;
    padding: 1.5rem 6rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.2s;
    text-transform: uppercase;
    font-size: 1.6rem;

    &:hover {
      background-color: $color-contrast;
    }
  }
}
